*{margin:0;padding:0;}
body{
    background: grey url(./wallhaven2.jpg) no-repeat center center;
    /* cover 一定把我整个图片平铺满屏 */
    background-size: cover;
}
main{text-align: center;display: flex;justify-content: center;align-items: center;height: 100vh;}
a{text-decoration: none;}
.clearfix::after{ display:block; content:'';clear:both;}
div>kbd{text-transform: uppercase; position:relative;display: inline-block;}
div>kbd>button{position: absolute;right:0;bottom:0;display: none;}
div>kbd:hover >button{display: inline-block;}
#main{display:inline-block;}
#main>div:nth-child(2){margin-left: -22px;}
#main>div:nth-child(3){margin-left: -80px;}
.key{ width:50px;height: 40px; border:1px solid #363636;color:#d1d1d1;border-radius:6px;
    background: linear-gradient(to bottom, rgba(41,41,41,1) 0%,rgba(17,17,17,1) 100%);
    box-shadow:  0px 0px 0px 1px #1a1b1c,0px 0px 0px 2px #1e1f20,0px 2px 0px 2px #030303;
    font-size: 16px;font-family: Helvetica;position: relative;}

.key .text{ position: absolute; left:4px;top:2px;}
.key img{ position: absolute; left:4px; bottom:2px;}
.row{margin:20px;}
.row .key{margin:0 10px;}
.row .key img{ height:16px;width: 16px;}
.wraper{background:rgba(255,255,255,0.2);border-radius: 10px;}